# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config2 import api_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("../WeatherPy/Weather_Data_Export.csv")
weather_data

                   city    lat   temp  humidity  clouds   wind
0    Escaldes-Engordany  42.51  38.48        36      40   5.82
1      Andorra la Vella  42.50  38.46        36      40   5.82
2        Umm al Qaywayn  25.50  69.69        77       0   3.36
3        Ras al-Khaimah  25.77  68.22        77       0   3.36
4                 Dubai  25.26  71.29        73       0  10.29
..                  ...    ...    ...       ...     ...    ...
555             Yevlakh  40.62  41.00        93      90   3.36
556            Khachmaz  41.47  43.81        77     100   2.55
557                Ucar  40.52  41.00        93      90   3.36
558              Tǝrtǝr  40.34  44.60        87      90   4.70
559            Sumqayit  40.59  44.60        87     100  23.04

[560 rows x 6 columns]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
locations = weather_data[["lat", "lng"]]

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map